.block {
  padding: 50px 30px;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);

  > .icon-container {
    position: relative;
    height: 100px;

    > .circle {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      height: 102px;
      width: 102px;
      border: 1px solid var(--primary-text-color);
      border-radius: 50%;
      animation: rotate 2s infinite linear;
      animation-play-state: paused;

      > .dot {
        position: absolute;
        left: 16px;
        width: 15px;
        height: 15px;
        background-color: var(--primary-text-color);
        border-radius: 50%;
        overflow: hidden;
      }
    }

    > .play {
      animation-play-state: running;
    }

    > .fa {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 35px;
      color: var(--primary-text-color);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
