.block {
  padding: 50px 30px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.block > .icon-container {
  position: relative;
  height: 102px;
}

.block > .icon-container > .circle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 102px;
  width: 102px;
  border: 1px solid var(--primary-text-color);
  border-radius: 50%;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.block > .icon-container > .circle > .dot {
  position: absolute;
  left: 16px;
  width: 15px;
  height: 15px;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  overflow: hidden;
}

.block > .icon-container > .play {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.block > .icon-container > img {
  position: absolute;
  right: 50%;
  top: 50%;
  width: 45px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: var(--primary-text-color);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
