.mainbtn{
    display: inline-block;
    padding: 15px 42px;
    color: white;
    font-size: 16px;
    background-color: var(--primary-text-color);
    border: solid 2px var(--primary-text-color);
    border-radius: 50px;

 }
 .mainbtn:hover{
    color:  var(--primary-text-color);
    background-color: white;
    border: solid 2px var(--primary-text-color);
    transition: 0.4s;

 }

.altbtn{
    display: inline-block;
    content: "";
    padding: 25px 25px;
    background-color: var(--primary-text-color);
    border: solid 2px var(--primary-text-color);
    border-radius: 50px;
}
.altbtn:hover{
    color:  var(--primary-text-color);
    background-color: white;
    border: solid 2px var(--primary-text-color);
    transition: 0.4s;

 }
    
    .au{
        padding: 100px;
        margin-left: 200px;
    }