.bg-primary {
  background: var(--primary-color);
  color: var(--primary-color-anti);
}
.bg-secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-color-anti);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-primary {
  color: var(--primary-text-color);
}

.color-secondary {
  color: var(--secondary-text-color);
}

p {
  font-size: 16px;
  line-height: 28px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
}

h4 {
  font-size: 21px;
  line-height: 32px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--primary-text-color);
  position: relative;

  &::before {
    display: border-box;
    content: "";
    background-color: #00c07c;
    position: absolute;
    width: 25px;
    height: 3px;
    top: 50%;
    transform: translate(-50px);
  }
  &::after {
    display: border-box;
    content: "";
    background-color: #00c07c;
    position: absolute;
    width: 25px;
    height: 3px;
    top: 50%;
    transform: translate(25px);
  }
  &.no-decoration {
    &::before,
    &::after {
      display: none;
    }
  }
}

.mb-30 {
  margin-bottom: 30px;
}

// header

// hero

// clients

// about me
#about_me img {
  width: 100%;
}

// achievements

// Important facts


.fac-img{
  width: 100%;
}
// skills

// gallery

// job history

// services

// testimonials

// contact me
.contact-title {
  max-width: 500px;
}

.contact-img {
  width: 100%;
}

.form-input {
  font-size: 13px;
  line-height: 36px;
  border-radius: 5px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
  border: none;
  border: 1px solid #ced4da;
  outline: none;
}

form > textarea {
  resize: none;
  width: 100%;
}

.form-input:focus {
  border: 1px solid var(--secondary-text-color);
  transition: border-color 0.2s ease-in-out;
}
// footer
  .socials{
    // display: inline-block;

    display: flex;
    flex-wrap: wrap;
    align-items:center;
    
    > a{
      display: inline-block;
      font-size: 16px;
      height: 50px;;
      width: 50px;
      color: white;
      text-align: center;
      padding: 15px;
      background-color: var(--primary-text-color);
      border: solid 2px var(--primary-text-color);
      border-radius: 50px;
    }
    >a:hover{
      color:  var(--primary-text-color);
      background-color: white;
      border: solid 2px var(--primary-text-color);
      transition: 0.4s;
      }
  }

  .socials > .fa{
    display:inline-block;
    font-size: 20px; 
      
  }
.container.bg-primary {
  padding: 6px 0;
  font-size: 40px;
}
  .container.bg-primary p {
    line-height: 30px;
    font-size: 18px;
    color: black;

  }
  .wt {
    color: white;
    text-decoration: none;
  }