.bg-primary {
  background: var(--primary-color);
  color: var(--primary-color-anti);
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-color-anti);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-primary {
  color: var(--primary-text-color);
}

.color-secondary {
  color: var(--secondary-text-color);
}

p {
  font-size: 16px;
  line-height: 28px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
}

h4 {
  font-size: 21px;
  line-height: 32px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--primary-text-color);
  position: relative;
}

h5::before {
  display: border-box;
  content: "";
  background-color: #00c07c;
  position: absolute;
  width: 25px;
  height: 3px;
  top: 50%;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}

h5::after {
  display: border-box;
  content: "";
  background-color: #00c07c;
  position: absolute;
  width: 25px;
  height: 3px;
  top: 50%;
  -webkit-transform: translate(25px);
          transform: translate(25px);
}

h5.no-decoration::before, h5.no-decoration::after {
  display: none;
}

.bg-secondary ::before,
.bg-secondary ::after {
  background-color: var(--secondary-color-anti);
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

#about_me img {
  width: 100%;
}

.fac-img {
  width: 100%;
}


.socials {
  display: inline-block;
}

.socials > .fa {
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
}

.container.bg-primary {
  padding: 6px 0;
  font-size: 40px;
}

.container.bg-primary p {
  line-height: 30px;
  font-size: 18px;
  color: black;
}

.wt {
  color: white;
  text-decoration: none;
}
.contact-title {
  max-width: 500px;
}

.contact-img {
  width: 100%;
}

.form-input {
  font-size: 13px;
  line-height: 36px;
  border-radius: 5px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
  border: none;
  border: 1px solid #ced4da;
  outline: none;
}

form > textarea {
  resize: none;
  width: 100%;
}

.form-input:focus {
  border: 1px solid var(--secondary-text-color);
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
