:root {
  --primary-color: #90acd1;
  --primary-color-anti: #fff;

  --primary-light-color: #f9f9ff;
  --primary-light-color-anti: #333;

  --secondary-color: #e45447;
  --secondary-color-anti: #fff;
}
